<div class="w-full flex flex-direction-column">
  @let acc = 'vehiculo.accesorios';

  <div class="mb-normal w-6 mobile:w-full">
    <h3 class="text-large font-weight-bold mb-x-small">
      {{ acc + '.title' | translate }}
    </h3>
    <p class="text-medium mb-normal">
      {{ acc + '.subtitle' | translate }}
    </p>

    <bal-radio-group 
      [value]="tieneAccesoriosSeries() ? 'serie' : 'opcionales'"
      (balChange)="onRadioGroupChange($any($event))"
      interface="tile"
      class="flex flex-direction-column gap-normal">
      
      <bal-radio value="serie">
        <bal-stack>
          <bal-radio-icon></bal-radio-icon>
          <bal-content>
            <bal-label>{{ acc + '.options.serie' | translate }}</bal-label>
          </bal-content>
        </bal-stack>
      </bal-radio>

      <bal-radio value="opcionales">
        <bal-stack>
          <bal-radio-icon></bal-radio-icon>
          <bal-content >
            <bal-label class="white-space-normal">{{ acc + '.options.opcionales' | translate }}</bal-label>
          </bal-content>
        </bal-stack>
      </bal-radio>

    </bal-radio-group>
  </div>

  @if (!tieneAccesoriosSeries()) {
    <div class="w-full">
      
      <div class="mb-normal">
        <h4 class="text-medium font-weight-bold mb-x-small">
          {{ acc + '.subSection.title' | translate }}
        </h4>
        <p class="text-small">
          {{ acc + '.subSection.subtitle' | translate }}
        </p>
      </div>

      <div class="mb-normal">
        <bal-segment 
          [value]="tipoSelectorAccesorios()" 
          (balChange)="onSegmentChange($any($event))"
          class="flex w-full flex-direction-row mobile:gap-none">
          
          <bal-segment-item 
            value="genericos" 
            [label]="acc + '.subSection.segments.genericos' | translate"
            class="w-6 text-align-center">
          </bal-segment-item>

          <bal-segment-item 
            value="fabricante" 
            [label]="acc + '.subSection.segments.fabricante' | translate"
            class="w-6 text-align-center">
          </bal-segment-item>

        </bal-segment>
      </div>

      <div class="mb-normal">
        <bal-field>
          <bal-field-control>
            <bal-input 
              [value]="filtroBusqueda()" 
              (balInput)="onSearchInput($event)"
              [placeholder]="acc + '.subSection.searchPlaceholder' | translate">
            </bal-input>
          </bal-field-control>
        </bal-field>
      </div>

      @for (grupo of listaAccesoriosFiltrados(); track grupo.nombreGrupo) {
        <div class="mb-normal">
          <span class="text-medium font-weight-bold mb-small block">
            {{ (grupo.nombreGrupo === 'Accesorios del Fabricante' ? (acc + '.subSection.groups.fabricante' | translate) : grupo.nombreGrupo) }}
          </span>
          
          <bal-checkbox-group interface="tile" class="flex flex-direction-column gap-normal">
            
            @for (item of grupo.items; track item.idAccesorio) {
              <bal-checkbox 
                [name]="'acc-' + item.idAccesorio" 
                [value]="item.idAccesorio"
                [checked]="item.checked"
                (click)="$event.preventDefault(); toggleAccesorioSelection(item)">
                
                <div class="w-full flex align-items-center justify-content-space-between flex-wrap py-x-small">
                  
                  <div class="flex-initial pe-normal" style="min-width: 60%;">
                    <bal-content>
                      <bal-label class="text-medium font-weight-regular text-grey-dark normal-whitespace">
                        {{ item.descripcionAccesorio }}
                      </bal-label>
                    </bal-content>
                  </div>

                  <div class="flex align-items-center gap-normal no-shrink ms-auto">
                    <span class="text-medium font-weight-bold text-grey-light">
                      {{ item.importeAccesorio }} €
                    </span>
                    <bal-check></bal-check>
                  </div>

                </div>

              </bal-checkbox>
            }

          </bal-checkbox-group>
        </div>
      } @empty {
        <div class="text-center p-normal border-light border-radius-normal bg-grey-1 text-grey text-small">
          {{ acc + '.subSection.emptyMessage' | translate }}
        </div>
      }

    </div>
  }

  <div class="flex flex-direction-column align-items-end gap-normal mt-normal">
    <bal-button color="primary" 
      (click)="guardarYAvanzar()" 
      [expanded]="esMobile()">
      {{ acc + '.buttons.confirm' | translate }}
    </bal-button>
    
    @if (tieneAccesoriosSeries()) {
      <button type="button" class="p-none bg-transparent border-none pointer underline text-medium" (click)="saltarYNoDeclarar()">
        {{ acc + '.buttons.skip' | translate }}
      </button>
    }
  </div>

</div>
