<app-header></app-header>

<div class="contenedor h-full">

  @if (!isMobileOrTablet()) {
    <app-menu></app-menu>

    <main class="principal" role="main">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </main>
  }

  @if (isMobileOrTablet()) {

    @if (sidebarLayout.isOpen()) {
      <app-menu class="mobile-overlay"></app-menu>
    } @else {
      <main class="principal" role="main">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </main>

      <bal-button
        icon="nav-go-right"
        square="true"
        color="primary"
        size="small"
        (balClick)="sidebarLayout.openMenu()"
        class="bg-grey-1"
      ></bal-button>
    }
  }

</div>
