<section class="w-full tablet:w-10 desktop:w-2 flex flex-direction-column gap-normal bg-white mb-large mobile:mb-normal tablet:mb-large">

  <bal-heading level="h3" visual-level="h4" class="mb-none text-blue w-10">
    {{ 'usoConductores.fechaEfectoSeguro.title' | translate }}
  </bal-heading>

  <p class="text-body-small text-light mt-none text-blue w-10">
    {{ 'usoConductores.fechaEfectoSeguro.subtitle' | translate }}
  </p>

  <bal-field [invalid]="!!fechaEfectoError()">

    <bal-field-control>
      <bal-date
        [value]="fechaISO()"
        (balChange)="onFechaEfectoChange($event)"
      ></bal-date>
    </bal-field-control>

    @if (fechaEfectoError()) {
      <bal-field-message color="danger">{{ fechaEfectoError() }}</bal-field-message>
    }
  </bal-field>

</section>
