<div class="w-full flex flex-direction-column">
  @let lang = 'vehiculo.busquedaMatricula';

  <div class="bloque-titulo mb-normal">
    <bal-heading level="h3" visual-level="h4" class="mb-none">
      {{ lang + '.title' | translate }}
    </bal-heading>
    <p class="text-body-small text-light mt-none">
      {{ lang + '.subtitle' | translate }}
    </p>
  </div>

  <div class="bloque-formulario mb-normal">
    <bal-segment
      [value]="opcionSeleccionada()"
      [disabled]="estaCargando()"
      (balChange)="alCambiarOpcion($event)"
      class="flex w-full flex-direction-row mobile gapless"
    >
      <bal-segment-item
        value="matricula"
        [label]="lang + '.segments.matricula' | translate"
        class="w-6 text-align-center"
      >
      </bal-segment-item>

      <bal-segment-item
        value="bastidor"
        [label]="lang + '.segments.bastidor' | translate"
        class="w-6 text-align-center"
      >
      </bal-segment-item>
    </bal-segment>
  </div>

  <div class="bloque-formulario">
    <bal-field [invalid]="esInvalido() || !!errorApi()">
      <bal-field-control>
        <bal-input
          [value]="textoBusqueda()"
          [disabled]="estaCargando()"
          (balInput)="onInputUpdate($event)"
          [placeholder]="placeholderDinamico() | translate"
          [maxLength]="opcionSeleccionada() === 'matricula' ? 7 : 17"
          [pattern]="patronDinamico()"
          [invalid]="esInvalido() || !!errorApi()"
          clickable="true"
        >
        </bal-input>
      </bal-field-control>

      @if (esInvalido()) {
        <bal-field-message invalid="true">
          {{ mensajeErrorDinamico() | translate }}
        </bal-field-message>
      }

      @if (errorApi(); as apiErrorMessage) {
        @if (!esInvalido()) {
          <bal-field-message invalid="true">
            {{ apiErrorMessage | translate }}
          </bal-field-message>
        }
      }

    </bal-field>
  </div>

  <div
    class="flex gap-normal tablet:flex-direction-row-reverse tablet:align-items-center tablet:justify-content-start
    mobile:w-full mobile:flex-direction-column mobile:align-items-stretch mobile:gap-small"
  >
    <bal-button
      color="primary"
      [disabled]="botonDeshabilitado()"
      [loading]="estaCargando()"
      (click)="alBuscar()"
      [expanded]="esMobile()"
    >
      {{ lang + '.buttons.search' | translate }}
    </bal-button>

    <bal-button
      color="secondary"
      [disabled]="estaCargando()"
      [expanded]="esMobile()"
      (click)="activarBusquedaManual()" 
    >
      {{ lang + '.buttons.manual' | translate }}
    </bal-button>
  </div>
</div>
