<div>
  <bal-heading level="h3" visual-level="h4" class="mb-none text-blue">
    {{ 'usoConductores.address.title' | translate }}
  </bal-heading>

  <p class="text-muted">{{ 'usoConductores.address.subtitle' | translate }}</p>

  <app-datos-domicilio-google
    [value]="internalDireccion.tipoVia || internalDireccion.nombreVia"
    [placeholder]="'usoConductores.address.placeholder' | translate"
    [ariaLabel]="'usoConductores.address.ariaLabel' | translate"
    (addressSelected)="onAddressSelected($event)"
    (clearSelection)="clearSelection()"
  ></app-datos-domicilio-google>

  <app-datos-domicilio-form
    [model]="internalDireccion"
    [disabled]="disabled"
    (modelChange)="onDireccionChange($event)"
  ></app-datos-domicilio-form>
</div>
