
<div class="mb-large">
  <bal-heading level="h3" visual-level="h4" class="text-bold mb-large">
    {{ 'tuCliente.address.title' | translate }}
  </bal-heading>
  <p class="text-muted text-small mb-large">{{ 'tuCliente.address.subtitle' | translate }}</p>

  <app-datos-domicilio-google
    [value]="direccionTexto"
    [placeholder]="'tuCliente.address.placeholder' | translate"
    [ariaLabel]="'tuCliente.address.ariaLabel' | translate"
    (addressSelected)="onAddressSelected($event)"
    (clearSelection)="clearSelection()"
  ></app-datos-domicilio-google>

  <app-datos-domicilio-form
    [model]="internalDireccion"
    (modelChange)="onFormChanged($event)"
  ></app-datos-domicilio-form>
</div>
