<h3 class="mx-normal mt-large text-x-large font-weight-regular">
    {{ titulo() | uppercase }}
</h3>

<bal-list accordionOneLevel="true">
    @for (modalidad of grupoModalidades(); track modalidad.codigo) {
    <bal-list-item accordion="true" class="bg-white pl-normal border-grey">
        <!-- Cabecera de la modalidad -->
        <bal-list-item-accordion-head icon="" class="flex justify-content-space-between w-full">
            <bal-list-item-icon class="ml-x-small">
                <bal-icon name="caret-down"></bal-icon>
            </bal-list-item-icon>

            <!-- Descripción de la modalidad -->
            <bal-list-item-content>
                <bal-list-item-title>{{ modalidad.descripcion }}</bal-list-item-title>
            </bal-list-item-content>

            <div class="w-fit">
                <!-- Valor prima o derogación -->
                <div>
                    @if (modalidad.derogacion) {
                    <p class="font-weight-bold text-x-large">{{ baseLangKey + '.derogacion' | translate }}</p>
                    } @else {
                    <p class="font-weight-bold text-x-large">
                        {{ modalidad.primaTotal | currency:'EUR':'symbol':'1.2-2':'es-ES' }}
                    </p>
                    }
                </div>

                <!-- Botón de selección -->
                <bal-button-group direction="column" position="right">
                    <bal-button color="primary" class="w-10rem" (balClick)="seleccionModalidad(modalidad)">
                        {{ baseLangKey + (modalidad.derogacion ? '.solicitar' : '.contratar') | translate }}
                    </bal-button>
                </bal-button-group>

            </div>
        </bal-list-item-accordion-head>

        <!-- Detalle de la modalidad -->
        <bal-list-item-accordion-body class="pr-normal">
            <div
                class="flex justify-content-space-between flex-direction-row w-full p-medium mb-normal bg-grey-light border-grey">
                <!-- Columna izquierda -->
                <div class="w-5 p-normal pt-medium">
                    <h5 class="mb-small font-weight-bold">{{ baseLangKey + '.coberturasIncluidas' | translate }}</h5>

                    <!-- Listado de coberturas incluidas -->
                    <ul class="list has-bullet-check has-bullet-green">
                        @for (cobertura of modalidad.coberturasIncluidas; track cobertura.codigo) {
                        <li>
                            {{ cobertura.descripcion }}
                        </li>
                        }
                    </ul>
                </div>

                <!-- Columna derecha -->
                <bal-card class="w-7 border-grey" flat square>
                    <bal-card-content>
                        @if (esTodoRiesgo() && modalidad.franquicia !== 0) {
                        <h5 class="font-weight-bold">{{ baseLangKey + '.rangoFranquicia' | translate }}</h5>

                        <!-- Listado de franquicias -->
                        <bal-radio-group name="franquicia-{{ modalidad.codigo }}" class="mb-medium"
                            [value]="getFranquiciaSeleccionada(modalidad.codigo)"
                            (balChange)="seleccionFranquicia(modalidad, $event)">
                            @for (modalidadFranquicia of modalidad.modalidadesFranquicia; track
                            modalidadFranquicia.codigo) {
                            <bal-radio [value]="modalidadFranquicia.franquicia">
                                {{ modalidadFranquicia.franquicia }} &euro;
                            </bal-radio>
                            }
                        </bal-radio-group>
                        }

                        <h5 class="font-weight-bold mb-x-small">{{ baseLangKey + '.coberturasOpcionales' | translate }}</h5>

                        <!-- Listado de coberturas opcionales -->
                        <bal-checkbox-group vertical="true" class="ml-small">
                            @for (cobertura of modalidad.coberturasOpcionales; track cobertura.codigo) {
                            <bal-checkbox flat class="mb-x-small"
                                [checked]="isCoberturaContratada(modalidad.codigo, cobertura.codigo)"
                                (balChange)="seleccionCobertura(modalidad, cobertura, $event)">
                                {{ cobertura.descripcion }}
                            </bal-checkbox>
                            }
                        </bal-checkbox-group>

                        <!-- Botón de recálculo -->
                        @if (!modalidad.derogacion) {
                        <div class="mt-large">
                            <bal-button color="secondary" class="border-primary" expanded
                                (balClick)="recalcularPrecio(modalidad)">
                                {{ baseLangKey + '.aplicarRecalcular' | translate }}
                            </bal-button>
                        </div>
                        }
                    </bal-card-content>
                </bal-card>
            </div>
        </bal-list-item-accordion-body>
    </bal-list-item>
    }
</bal-list>